<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/service">Service</a>
      </div>
    <main>Home</main>
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia laboriosam quis, assumenda quidem vel blanditiis repellat eos quisquam quas cumque saepe eius iure asperiores impedit sequi error, beatae perspiciatis. Laudantium. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero voluptate consequatur dolore voluptas aspernatur alias dignissimos voluptates sed sequi, magni itaque et nesciunt doloribus ducimus sint facere, fugiat aliquid in.</p>

    <h3>Still about the Home Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum mollitia saepe voluptatem ducimus dolor, explicabo omnis dignissimos quibusdam amet labore odit voluptas totam veniam iure velit reiciendis qui consequatur dicta?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos doloribus vero voluptas nisi ducimus nobis ex aut debitis repellendus eius, optio, veniam recusandae necessitatibus quas nam id accusamus earum consectetur!</p>
  
</body>
</html>