<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/service">Service</a>
      </div>
    <main>Services</main>
    <h1>This is the service Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, laborum praesentium natus veniam deserunt numquam neque ipsa! Similique illum voluptatum corporis, beatae quisquam fuga eaque corrupti rem aperiam blanditiis ipsa!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur incidunt hic sed? Corporis ipsum quis ea optio molestiae illo ullam quaerat quidem blanditiis voluptas, animi iusto temporibus expedita recusandae mollitia.Lorem 

    </p>
    <h4>You are viewing the services we offer</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cum, ducimus praesentium beatae minima fuga soluta culpa ea placeat hic animi quis, necessitatibus saepe porro modi officia in tempora id.</p>
</body>
</html>