<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/service" >Service</a>
      </div>
    <main>Contact</main>
    <h1>This is the contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum a deleniti facere eum repudiandae alias nihil voluptatum unde quas! Culpa totam accusantium explicabo animi exercitationem assumenda, corrupti facilis quod?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto non expedita voluptatum dicta accusantium voluptate, eveniet velit maiores voluptas mollitia ipsum eius quis consequatur, laboriosam explicabo ut perferendis saepe.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi expedita, sapiente corrupti fuga similique cum vero illo unde voluptas nihil. Debitis placeat asperiores officia et dolorem sed, earum dolore minima.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo dolor amet exercitationem eveniet, quaerat perferendis soluta accusamus pariatur voluptate, minima eum reiciendis mollitia quibusdam eos non consequatur corrupti! Fugiat, repellendus!
    </p>
</body>
</html>